# Quinoa

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df_trade = pd.read_pickle('../data/df_trade.pkl')
df_trade = df_trade[df_trade['Item'] == 'Quinoa']
df_trade.head()

,Reporter Countries,Partner Countries,Item,Element,Unit,Y1993,Y1994,Y1995,Y1996,Y1997,...,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016
3426,Afghanistan,Netherlands,Quinoa,Import Quantity,tonnes,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3427,Afghanistan,Netherlands,Quinoa,Import Value,1000 US$,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
11201,Albania,France,Quinoa,Import Quantity,tonnes,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11202,Albania,France,Quinoa,Import Value,1000 US$,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12661,Albania,Greece,Quinoa,Import Quantity,tonnes,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
df_prod = pd.read_pickle('../data/df_prod.pkl')
df_prod = df_prod[(df_prod['Item'] == 'Quinoa') & (df_prod['Element'] == 'Production')]
df_prod.head()

,Area,Item,Element,Unit,Y1993,Y1994,Y1995,Y1996,Y1997,Y1998,...,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016
3717,Bolivia (Plurinational State of),Quinoa,Production,tonnes,19129.0,19465.0,18814.0,23498.0,26366.0,20291.0,...,26601.0,27169.0,34156.0,36724.0,40943.0,50874.0,63075.0,67711.0,75449.0,65548.0
10501,Ecuador,Quinoa,Production,tonnes,493.0,362.0,408.0,555.0,304.0,938.0,...,690.0,741.0,800.0,1833.0,2073.0,2323.0,2515.0,3711.0,12707.0,3903.0
25509,Peru,Quinoa,Production,tonnes,17157.0,16629.0,13773.0,16070.0,23688.0,28171.0,...,31824.0,29867.0,39397.0,41079.0,41182.0,44213.0,52129.0,114725.0,105666.0,79269.0

In [4]:
df_imports = df_trade[df_trade['Element'].isin(['Import Quantity', 'Import Value'])]
df_exports = df_trade[df_trade['Element'].isin(['Export Quantity', 'Export Value'])]

In [8]:
class Vertex:
    """ A class for a vertex in a graph"""
    
    def __init__(self, name):
        self.name = name
        self.edges = []
        
    def add(self, e):
        print(self)
        print(e)
        print(self.edges)
        self.edges = self.edges + [e]
        print(self.edges)
    
    def __str__(self):
        return f'Country: {self.name}, Edges: {self.edges}'

v = Vertex('Peru')
v.add('edge')
print(v)

Country: Peru, Edges: []
edge
[]
['edge']
Country: Peru, Edges: ['edge']