In [1]:
import pandas as pd
import numpy as np

In [2]:
df_trade = pd.read_pickle("../data/df_trade_merged.pkl")

In [3]:
df_prod = pd.read_pickle("../data/df_prod.pkl")

In [4]:
country_groups = pd.read_csv('../data/FAOSTAT_data_11-19-2019.csv')

In [5]:
def replace_country(country, replacements, replacements_names):
    for i, replacement in enumerate(replacements):
        if country in replacement:
            return replacements_names[i]

In [6]:
african_countries = set(country_groups[country_groups['Country Group'] == 'Africa']['Country'])
american_countries = set(country_groups[country_groups['Country Group'] == 'Americas']['Country'])
asian_countries = set(country_groups[country_groups['Country Group'] == 'Asia']['Country'])
european_countries = set(country_groups[country_groups['Country Group'] == 'Europe']['Country'])
oceanian_countries = set(country_groups[country_groups['Country Group'] == 'Oceania']['Country'])

continents = [african_countries, american_countries, asian_countries, european_countries, oceanian_countries]
continent_names = ['Africa', 'Americas', 'Asia', 'Europe', 'Oceania']

In [40]:
df_trade_continent = df_trade.copy()

for i, row in df_trade_continent.iterrows():
        df_trade_continent.at[i, 'Exporter'] = replace_country(row['Exporter'], continents, continent_names)
        df_trade_continent.at[i, 'Importer'] = replace_country(row['Importer'], continents, continent_names)

In [41]:
df_trade_sesame = df_trade_continent[df_trade_continent['Item'] == 'Sesame seed'].groupby(['Exporter', 'Importer'])\
                                                                                  .sum().reset_index()
df_trade_sesame = df_trade_sesame[(df_trade_sesame['Exporter'] == 'Africa') & (df_trade_sesame['Importer'] == 'Asia')]

In [42]:
df_trade_sesame

,Exporter,Importer,1993,1994,1995,1996,1997,1998,1999,2000,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
2,Africa,Asia,20516.0,21178.0,28895.0,42712.0,58208.0,79661.0,84678.0,76984.0,...,360826.0,326189.0,532362.0,613033.0,577094.0,808562.0,931229.0,1001361.0,1363144.0,1452811.0

In [48]:
df_prod_continent = df_prod.copy()
for i, row in df_prod_continent.iterrows():
        df_prod_continent.at[i, 'Area'] = replace_country(row['Area'], continents, continent_names)

In [49]:
df_prod_sesame = df_prod_continent[df_prod_continent['Item'] == 'Sesame seed'].groupby('Area')\
                                                                               .sum().reset_index()
df_prod_sesame = df_prod_sesame[df_prod_sesame['Area'] == 'Africa']

In [50]:
df_prod_sesame

,Area,Y1993,Y1994,Y1995,Y1996,Y1997,Y1998,Y1999,Y2000,Y2001,...,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016
0,Africa,1172935.0,1172243.0,1236492.0,1264362.0,1340196.0,1355720.0,1434695.0,1539483.0,1505847.0,...,2560343.0,2475196.0,2995142.0,3503568.0,3917078.0,7120579.0,9251144.0,10097681.0,8418406.0,9249763.0

In [56]:
df_trade_sesame.drop(columns=['Exporter', 'Importer']).values/df_prod_sesame.drop(columns=['Area']).values*100

array([[ 1.74911653,  1.80662201,  2.33685297,  3.37814645,  4.34324532,
         5.87591833,  5.90216039,  5.00063983,  8.1901415 ,  9.83657803,
         8.46713675, 10.81416456, 14.68191218, 17.29887446, 14.0928774 ,
        13.17830992, 17.77418233, 17.49739123, 14.73276764, 11.35528445,
        10.06609561,  9.91674227, 16.19242408, 15.70646729]])