In [1]:
import numpy as np
import pandas as pd

In [36]:
df_prod = pd.read_pickle('../data/df_prod.pkl')
df_prod = df_prod[df_prod["Unit"]=="tonnes"]
df_trade = pd.read_pickle('../data/df_trade_merged.pkl')

# Soybean Statistics

In [9]:
df_tchina = df_trade[df_trade["Importer"]=="China, mainland"]

In [15]:
# Chinese trade as percentage of total trade
df_tchina.loc[:,"1993":].sum() / df_trade.loc[:,"1993":].sum()

1993    0.027074
1994    0.036213
1995    0.067516
1996    0.044456
1997    0.029130
1998    0.031030
1999    0.033551
2000    0.043212
2001    0.049382
2002    0.040423
2003    0.063662
2004    0.077528
2005    0.080344
2006    0.079746
2007    0.075169
2008    0.087077
2009    0.100677
2010    0.117131
2011    0.118259
2012    0.128980
2013    0.139355
2014    0.140317
2015    0.161910
2016    0.144567
dtype: float64

In [14]:
#Soybean percent
df_tchina[df_tchina["Item"]=="Soybeans"].loc[:,"1993":].sum() / df_tchina.loc[:,"1993":].sum()

1993    0.013101
1994    0.005093
1995    0.016034
1996    0.118266
1997    0.272285
1998    0.270081
1999    0.316699
2000    0.533121
2001    0.612373
2002    0.591478
2003    0.731341
2004    0.522561
2005    0.623332
2006    0.648709
2007    0.711957
2008    0.738342
2009    0.688250
2010    0.721785
2011    0.697423
2012    0.638507
2013    0.639259
2014    0.643133
2015    0.618137
2016    0.697583
dtype: float64

In [27]:
# Percent Chinese soybean import from brazil
df_tchina[df_tchina["Item"]=="Soybeans"][df_tchina[df_tchina["Item"]=="Soybeans"]["Exporter"]=="Brazil"].loc[:,"1993":].sum()\
/df_tchina[df_tchina["Item"]=="Soybeans"].loc[:,"1993":].sum()

1993    0.000000
1994    0.000000
1995    0.018682
1996    0.028490
1997    0.152169
1998    0.290709
1999    0.198461
2000    0.202247
2001    0.228236
2002    0.357817
2003    0.277367
2004    0.279527
2005    0.297167
2006    0.403581
2007    0.331608
2008    0.303559
2009    0.366429
2010    0.333150
2011    0.402423
2012    0.405271
2013    0.486611
2014    0.448061
2015    0.493463
2016    0.446242
dtype: float64

In [28]:
df_tchina[df_tchina["Item"]=="Soybeans"][df_tchina[df_tchina["Item"]=="Soybeans"]["Exporter"]=="Brazil"]

,Importer,Exporter,Item,1993,1994,1995,1996,1997,1998,1999,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
64008,"China, mainland",Brazil,Soybeans,0.0,0.0,7000.0,52747.0,439882.0,944972.0,860105.0,...,10582110.0,11823570.0,15993810.0,18587210.0,22104720.0,23891340.0,32251520.0,32664328.0,40925507.0,38563909.0

# Sesame Seed Statistics

In [57]:
df_sesame = df_prod[df_prod["Item"]=="Sesame seed"]
df_ttanz = df_trade[df_trade["Exporter"]=="United Republic of Tanzania"]

In [58]:
# % Tanzanina Production of sesame compared to worlwide
df_sesame[df_sesame["Area"]=="United Republic of Tanzania"].loc[:,"Y1993":] /df_sesame.loc[:,"Y1993":].sum()

,Y1993,Y1994,Y1995,Y1996,Y1997,Y1998,Y1999,Y2000,Y2001,Y2002,...,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016
34649,0.013863,0.013905,0.014042,0.013707,0.014942,0.016635,0.01729,0.015134,0.005202,0.020961,...,0.045976,0.013851,0.025367,0.035451,0.082121,0.084342,0.174801,0.177658,0.205978,0.167519

In [56]:
# Percent of production traded by tanzania
df_ttanz[df_ttanz["Item"]=="Sesame seed"].loc[:,"1993":].sum().values/df_sesame[df_sesame["Area"]=="United Republic of Tanzania"].loc[:,"Y1993":].values

array([[0.30075862, 0.21353333, 0.31422581, 0.48093939, 0.42584848,
        0.54686111, 0.476525  , 0.41041026, 1.11183844, 0.42399274,
        0.61958537, 0.53592939, 0.49751061, 0.72547917, 0.21404547,
        0.70305985, 0.80647778, 0.54851821, 0.21310498, 0.19860746,
        0.09315238, 0.11038419, 0.12205205, 0.14189898]])

In [49]:
# Percent of tanzanian sesame traded compared to total sesame traded
df_ttanz[df_ttanz["Item"]=="Sesame seed"].loc[:,"1993":].sum() /\
df_trade[df_trade["Item"]=="Sesame seed"].loc[:,"1993":].sum()

1993    0.019264
1994    0.013410
1995    0.018731
1996    0.028925
1997    0.025644
1998    0.038460
1999    0.036804
2000    0.025463
2001    0.022663
2002    0.034219
2003    0.033196
2004    0.043561
2005    0.052136
2006    0.033586
2007    0.031680
2008    0.031782
2009    0.059370
2010    0.057855
2011    0.055929
2012    0.059220
2013    0.056336
2014    0.066263
2015    0.066509
2016    0.059103
dtype: float64