# Market Response
This notebook tries to see how global markets respond to local shortages.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Loading the datasets
Loads the datasets into panda dataframes

In [5]:
df_trade_matrix = pd.read_csv('../data/Trade_DetailedTradeMatrix_E_All_Data.csv', encoding = 'ISO-8859-1')

/Users/Niels/anaconda3/envs/ada/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
df_trade_ch = df_trade_matrix[df_trade_matrix['Reporter Countries'] == 'Switzerland']
df_trade_ch

,Reporter Country Code,Reporter Countries,Partner Country Code,Partner Countries,Item Code,Item,Element Code,Element,Unit,Y1986,...,Y2013,Y2013F,Y2014,Y2014F,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F
4470118,211,Switzerland,2,Afghanistan,231,Almonds shelled,5610,Import Quantity,tonnes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
4470119,211,Switzerland,2,Afghanistan,231,Almonds shelled,5622,Import Value,1000 US$,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
4470120,211,Switzerland,2,Afghanistan,1169,"Animals, live, non-food",5622,Import Value,1000 US$,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4470121,211,Switzerland,2,Afghanistan,527,"Apricots, dry",5610,Import Quantity,tonnes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4470122,211,Switzerland,2,Afghanistan,527,"Apricots, dry",5622,Import Value,1000 US$,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4537954,211,Switzerland,181,Zimbabwe,472,"Vegetables, preserved nes",5622,Import Value,1000 US$,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4537955,211,Switzerland,181,Zimbabwe,564,Wine,5610,Import Quantity,tonnes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
4537956,211,Switzerland,181,Zimbabwe,564,Wine,5622,Import Value,1000 US$,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
4537957,211,Switzerland,181,Zimbabwe,564,Wine,5910,Export Quantity,tonnes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4537958,211,Switzerland,181,Zimbabwe,564,Wine,5922,Export Value,1000 US$,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_trade_ch_fr = df_trade_ch[df_trade_ch['Partner Countries'] == 'France']
df_trade_ch_fr

,Reporter Country Code,Reporter Countries,Partner Country Code,Partner Countries,Item Code,Item,Element Code,Element,Unit,Y1986,...,Y2013,Y2013F,Y2014,Y2014F,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F
4491848,211,Switzerland,68,France,862,Alfalfa meal and pellets,5610,Import Quantity,tonnes,NaN,...,4942.0,NaN,5570.0,NaN,6184.0,NaN,6561.0,NaN,6263.0,NaN
4491849,211,Switzerland,68,France,862,Alfalfa meal and pellets,5622,Import Value,1000 US$,NaN,...,1616.0,NaN,1735.0,NaN,1489.0,NaN,1526.0,NaN,1464.0,NaN
4491850,211,Switzerland,68,France,862,Alfalfa meal and pellets,5910,Export Quantity,tonnes,NaN,...,NaN,NaN,50.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN
4491851,211,Switzerland,68,France,862,Alfalfa meal and pellets,5922,Export Value,1000 US$,NaN,...,NaN,NaN,15.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN
4491852,211,Switzerland,68,France,231,Almonds shelled,5610,Import Quantity,tonnes,6.0,...,86.0,NaN,239.0,NaN,332.0,NaN,233.0,NaN,125.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4493222,211,Switzerland,68,France,1009,"Wool, hair waste",5922,Export Value,1000 US$,171.0,...,NaN,NaN,18.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
4493223,211,Switzerland,68,France,892,"Yoghurt, concentrated or not",5610,Import Quantity,tonnes,NaN,...,1543.0,NaN,1508.0,NaN,1391.0,NaN,1453.0,NaN,1110.0,NaN
4493224,211,Switzerland,68,France,892,"Yoghurt, concentrated or not",5622,Import Value,1000 US$,NaN,...,3224.0,NaN,3285.0,NaN,2628.0,NaN,3154.0,NaN,2269.0,NaN
4493225,211,Switzerland,68,France,892,"Yoghurt, concentrated or not",5910,Export Quantity,tonnes,NaN,...,1222.0,NaN,1194.0,NaN,1052.0,NaN,986.0,Im,831.0,NaN
4493226,211,Switzerland,68,France,892,"Yoghurt, concentrated or not",5922,Export Value,1000 US$,NaN,...,3694.0,NaN,3741.0,NaN,2971.0,NaN,2977.0,NaN,2520.0,NaN

In [16]:
df_trade_ch_fr_2017 = df_trade_ch_fr[['Reporter Countries', 'Partner Countries', 'Item', 'Element', 'Unit', 'Y2017']].dropna()
df_trade_ch_fr_2017

,Reporter Countries,Partner Countries,Item,Element,Unit,Y2017
4491848,Switzerland,France,Alfalfa meal and pellets,Import Quantity,tonnes,6263.0
4491849,Switzerland,France,Alfalfa meal and pellets,Import Value,1000 US$,1464.0
4491852,Switzerland,France,Almonds shelled,Import Quantity,tonnes,125.0
4491853,Switzerland,France,Almonds shelled,Import Value,1000 US$,909.0
4491854,Switzerland,France,Almonds shelled,Export Quantity,tonnes,20.0
...,...,...,...,...,...,...
4493218,Switzerland,France,"Wool, greasy",Export Value,1000 US$,1.0
4493223,Switzerland,France,"Yoghurt, concentrated or not",Import Quantity,tonnes,1110.0
4493224,Switzerland,France,"Yoghurt, concentrated or not",Import Value,1000 US$,2269.0
4493225,Switzerland,France,"Yoghurt, concentrated or not",Export Quantity,tonnes,831.0
4493226,Switzerland,France,"Yoghurt, concentrated or not",Export Value,1000 US$,2520.0