# Market Response
This notebook tries to see how global markets respond to local shortages.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Loading the datasets
Loads the datasets into panda dataframes

In [2]:
df_trade_matrix = pd.read_csv('../data/Trade_DetailedTradeMatrix_E_All_Data.csv', encoding = 'ISO-8859-1')

/Users/Niels/anaconda3/envs/ada/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df_trade_ch = df_trade_matrix[df_trade_matrix['Reporter Countries'] == 'Switzerland']
df_trade_ch

,Reporter Country Code,Reporter Countries,Partner Country Code,Partner Countries,Item Code,Item,Element Code,Element,Unit,Y1986,...,Y2013,Y2013F,Y2014,Y2014F,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F
4470118,211,Switzerland,2,Afghanistan,231,Almonds shelled,5610,Import Quantity,tonnes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
4470119,211,Switzerland,2,Afghanistan,231,Almonds shelled,5622,Import Value,1000 US$,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
4470120,211,Switzerland,2,Afghanistan,1169,"Animals, live, non-food",5622,Import Value,1000 US$,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4470121,211,Switzerland,2,Afghanistan,527,"Apricots, dry",5610,Import Quantity,tonnes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4470122,211,Switzerland,2,Afghanistan,527,"Apricots, dry",5622,Import Value,1000 US$,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4537954,211,Switzerland,181,Zimbabwe,472,"Vegetables, preserved nes",5622,Import Value,1000 US$,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4537955,211,Switzerland,181,Zimbabwe,564,Wine,5610,Import Quantity,tonnes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
4537956,211,Switzerland,181,Zimbabwe,564,Wine,5622,Import Value,1000 US$,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
4537957,211,Switzerland,181,Zimbabwe,564,Wine,5910,Export Quantity,tonnes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4537958,211,Switzerland,181,Zimbabwe,564,Wine,5922,Export Value,1000 US$,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_trade_ch_fr = df_trade_ch[df_trade_ch['Partner Countries'] == 'France']
df_trade_ch_fr

,Reporter Country Code,Reporter Countries,Partner Country Code,Partner Countries,Item Code,Item,Element Code,Element,Unit,Y1986,...,Y2013,Y2013F,Y2014,Y2014F,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F
4491848,211,Switzerland,68,France,862,Alfalfa meal and pellets,5610,Import Quantity,tonnes,NaN,...,4942.0,NaN,5570.0,NaN,6184.0,NaN,6561.0,NaN,6263.0,NaN
4491849,211,Switzerland,68,France,862,Alfalfa meal and pellets,5622,Import Value,1000 US$,NaN,...,1616.0,NaN,1735.0,NaN,1489.0,NaN,1526.0,NaN,1464.0,NaN
4491850,211,Switzerland,68,France,862,Alfalfa meal and pellets,5910,Export Quantity,tonnes,NaN,...,NaN,NaN,50.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN
4491851,211,Switzerland,68,France,862,Alfalfa meal and pellets,5922,Export Value,1000 US$,NaN,...,NaN,NaN,15.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN
4491852,211,Switzerland,68,France,231,Almonds shelled,5610,Import Quantity,tonnes,6.0,...,86.0,NaN,239.0,NaN,332.0,NaN,233.0,NaN,125.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4493222,211,Switzerland,68,France,1009,"Wool, hair waste",5922,Export Value,1000 US$,171.0,...,NaN,NaN,18.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
4493223,211,Switzerland,68,France,892,"Yoghurt, concentrated or not",5610,Import Quantity,tonnes,NaN,...,1543.0,NaN,1508.0,NaN,1391.0,NaN,1453.0,NaN,1110.0,NaN
4493224,211,Switzerland,68,France,892,"Yoghurt, concentrated or not",5622,Import Value,1000 US$,NaN,...,3224.0,NaN,3285.0,NaN,2628.0,NaN,3154.0,NaN,2269.0,NaN
4493225,211,Switzerland,68,France,892,"Yoghurt, concentrated or not",5910,Export Quantity,tonnes,NaN,...,1222.0,NaN,1194.0,NaN,1052.0,NaN,986.0,Im,831.0,NaN
4493226,211,Switzerland,68,France,892,"Yoghurt, concentrated or not",5922,Export Value,1000 US$,NaN,...,3694.0,NaN,3741.0,NaN,2971.0,NaN,2977.0,NaN,2520.0,NaN

In [5]:
df_trade_ch_fr_2017 = df_trade_ch_fr[['Reporter Countries', 'Partner Countries', 'Item', 'Element', 'Unit', 'Y2017']].dropna()
df_trade_ch_fr_2017

,Reporter Countries,Partner Countries,Item,Element,Unit,Y2017
4491848,Switzerland,France,Alfalfa meal and pellets,Import Quantity,tonnes,6263.0
4491849,Switzerland,France,Alfalfa meal and pellets,Import Value,1000 US$,1464.0
4491852,Switzerland,France,Almonds shelled,Import Quantity,tonnes,125.0
4491853,Switzerland,France,Almonds shelled,Import Value,1000 US$,909.0
4491854,Switzerland,France,Almonds shelled,Export Quantity,tonnes,20.0
...,...,...,...,...,...,...
4493218,Switzerland,France,"Wool, greasy",Export Value,1000 US$,1.0
4493223,Switzerland,France,"Yoghurt, concentrated or not",Import Quantity,tonnes,1110.0
4493224,Switzerland,France,"Yoghurt, concentrated or not",Import Value,1000 US$,2269.0
4493225,Switzerland,France,"Yoghurt, concentrated or not",Export Quantity,tonnes,831.0
4493226,Switzerland,France,"Yoghurt, concentrated or not",Export Value,1000 US$,2520.0

In [8]:
df_trade_ch_af = df_trade_ch[df_trade_ch['Partner Countries'] == 'Afghanistan']
df_trade_ch_af

,Reporter Country Code,Reporter Countries,Partner Country Code,Partner Countries,Item Code,Item,Element Code,Element,Unit,Y1986,...,Y2013,Y2013F,Y2014,Y2014F,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F
4470118,211,Switzerland,2,Afghanistan,231,Almonds shelled,5610,Import Quantity,tonnes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
4470119,211,Switzerland,2,Afghanistan,231,Almonds shelled,5622,Import Value,1000 US$,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
4470120,211,Switzerland,2,Afghanistan,1169,"Animals, live, non-food",5622,Import Value,1000 US$,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4470121,211,Switzerland,2,Afghanistan,527,"Apricots, dry",5610,Import Quantity,tonnes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4470122,211,Switzerland,2,Afghanistan,527,"Apricots, dry",5622,Import Value,1000 US$,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4470214,211,Switzerland,2,Afghanistan,473,"Vegetables, frozen",5622,Import Value,1000 US$,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,4.0,NaN,NaN,NaN
4470215,211,Switzerland,2,Afghanistan,110,Wafers,5610,Import Quantity,tonnes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4470216,211,Switzerland,2,Afghanistan,110,Wafers,5622,Import Value,1000 US$,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4470217,211,Switzerland,2,Afghanistan,564,Wine,5610,Import Quantity,tonnes,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4470218,211,Switzerland,2,Afghanistan,564,Wine,5622,Import Value,1000 US$,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_trade_ch_af_2017 = df_trade_ch_af[['Reporter Countries', 'Partner Countries', 'Item', 'Element', 'Unit', 'Y2017']].dropna()
df_trade_ch_af_2017

,Reporter Countries,Partner Countries,Item,Element,Unit,Y2017
4470127,Switzerland,Afghanistan,"Cheese, whole cow milk",Export Quantity,tonnes,0.0
4470128,Switzerland,Afghanistan,"Cheese, whole cow milk",Export Value,1000 US$,4.0
4470133,Switzerland,Afghanistan,Cigarettes,Export Quantity,tonnes,8.0
4470134,Switzerland,Afghanistan,Cigarettes,Export Value,1000 US$,217.0
4470135,Switzerland,Afghanistan,"Coffee, extracts",Export Quantity,tonnes,21.0
4470136,Switzerland,Afghanistan,"Coffee, extracts",Export Value,1000 US$,324.0
4470144,Switzerland,Afghanistan,Crude materials,Export Value,1000 US$,13.0
4470195,Switzerland,Afghanistan,"Pyrethrum, dried",Import Quantity,tonnes,5.0
4470196,Switzerland,Afghanistan,"Pyrethrum, dried",Import Value,1000 US$,62.0
4470199,Switzerland,Afghanistan,Spices nes,Import Quantity,tonnes,0.0
4470200,Switzerland,Afghanistan,Spices nes,Import Value,1000 US$,125.0

## Great Australian Banana Shortage of 2011

In [37]:
df_trade_au = df_trade_matrix[df_trade_matrix['Reporter Countries'] == 'Australia']
df_trade_au

,Reporter Country Code,Reporter Countries,Partner Country Code,Partner Countries,Item Code,Item,Element Code,Element,Unit,Y1986,...,Y2013,Y2013F,Y2014,Y2014F,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F
118768,10,Australia,2,Afghanistan,231,Almonds shelled,5610,Import Quantity,tonnes,NaN,...,2.0,*,1.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN
118769,10,Australia,2,Afghanistan,231,Almonds shelled,5622,Import Value,1000 US$,NaN,...,11.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,9.0,NaN
118770,10,Australia,2,Afghanistan,711,"Anise, badian, fennel, coriander",5610,Import Quantity,tonnes,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,Im
118771,10,Australia,2,Afghanistan,711,"Anise, badian, fennel, coriander",5622,Import Value,1000 US$,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN
118772,10,Australia,2,Afghanistan,515,Apples,5910,Export Quantity,tonnes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181326,10,Australia,181,Zimbabwe,15,Wheat,5922,Export Value,1000 US$,2506.0,...,3559.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181327,10,Australia,181,Zimbabwe,564,Wine,5610,Import Quantity,tonnes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181328,10,Australia,181,Zimbabwe,564,Wine,5622,Import Value,1000 US$,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181329,10,Australia,181,Zimbabwe,564,Wine,5910,Export Quantity,tonnes,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181330,10,Australia,181,Zimbabwe,564,Wine,5922,Export Value,1000 US$,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
df_banana_trade_au = df_trade_au[df_trade_au['Item'] == 'Bananas']
df_banana_trade_au

,Reporter Country Code,Reporter Countries,Partner Country Code,Partner Countries,Item Code,Item,Element Code,Element,Unit,Y1986,...,Y2013,Y2013F,Y2014,Y2014F,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F
119958,10,Australia,10,Australia,486,Bananas,5610,Import Quantity,tonnes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119959,10,Australia,10,Australia,486,Bananas,5622,Import Value,1000 US$,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123707,10,Australia,19,Bolivia (Plurinational State of),486,Bananas,5610,Import Quantity,tonnes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123708,10,Australia,19,Bolivia (Plurinational State of),486,Bananas,5622,Import Value,1000 US$,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123980,10,Australia,21,Brazil,486,Bananas,5610,Import Quantity,tonnes,NaN,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177825,10,Australia,252,Unspecified Area,486,Bananas,5922,Export Value,1000 US$,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179691,10,Australia,237,Viet Nam,486,Bananas,5610,Import Quantity,tonnes,NaN,...,NaN,NaN,1.0,NaN,27.0,NaN,73.0,NaN,59.0,NaN
179692,10,Australia,237,Viet Nam,486,Bananas,5622,Import Value,1000 US$,NaN,...,NaN,NaN,4.0,NaN,27.0,NaN,61.0,NaN,70.0,NaN
179693,10,Australia,237,Viet Nam,486,Bananas,5910,Export Quantity,tonnes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179694,10,Australia,237,Viet Nam,486,Bananas,5922,Export Value,1000 US$,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
df_banana_trade_weight_au = df_banana_trade_au[df_banana_trade_au['Unit'] == 'tonnes'].fillna(value=0)
df_banana_trade_weight_au

,Reporter Country Code,Reporter Countries,Partner Country Code,Partner Countries,Item Code,Item,Element Code,Element,Unit,Y1986,...,Y2013,Y2013F,Y2014,Y2014F,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F
119958,10,Australia,10,Australia,486,Bananas,5610,Import Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
123707,10,Australia,19,Bolivia (Plurinational State of),486,Bananas,5610,Import Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
123980,10,Australia,21,Brazil,486,Bananas,5610,Import Quantity,tonnes,0.0,...,0.0,0,3.0,0,0.0,0,0.0,0,0.0,0
124549,10,Australia,26,Brunei Darussalam,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
127279,10,Australia,96,"China, Hong Kong SAR",486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,1.0,0,3.0,0,3.0,0
128566,10,Australia,41,"China, mainland",486,Bananas,5610,Import Quantity,tonnes,0.0,...,0.0,0,8.0,0,0.0,0,0.0,0,1.0,0
128568,10,Australia,41,"China, mainland",486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
129664,10,Australia,214,"China, Taiwan Province of",486,Bananas,5610,Import Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
130630,10,Australia,42,Christmas Island,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
131157,10,Australia,44,Colombia,486,Bananas,5610,Import Quantity,tonnes,0.0,...,0.0,0,1.0,0,26.0,0,2.0,0,4.0,0
131719,10,Australia,48,Costa Rica,486,Bananas,5610,Import Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
133696,10,Australia,58,Ecuador,486,Bananas,5610,Import Quantity,tonnes,0.0,...,0.0,0,21.0,0,24.0,0,13.0,0,3.0,0
134826,10,Australia,66,Fiji,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
135901,10,Australia,68,France,486,Bananas,5610,Import Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
135903,10,Australia,68,France,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
137493,10,Australia,79,Germany,486,Bananas,5610,Import Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
137495,10,Australia,79,Germany,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
138626,10,Australia,84,Greece,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
139487,10,Australia,89,Guatemala,486,Bananas,5610,Import Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,14.0,0
140255,10,Australia,100,India,486,Bananas,5610,Import Quantity,tonnes,0.0,...,0.0,0,2.0,0,0.0,0,0.0,0,1.0,0
141210,10,Australia,101,Indonesia,486,Bananas,5610,Import Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
141212,10,Australia,101,Indonesia,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
143028,10,Australia,105,Israel,486,Bananas,5610,Import Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
144361,10,Australia,109,Jamaica,486,Bananas,5610,Import Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
144537,10,Australia,110,Japan,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,19.0,0,92.0,0
148468,10,Australia,131,Malaysia,486,Bananas,5610,Import Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
148470,10,Australia,131,Malaysia,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
150570,10,Australia,137,Mauritius,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
152689,10,Australia,148,Nauru,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,44.0,0,3.0,0,3.0,0,9.0,0
153434,10,Australia,150,Netherlands,486,Bananas,5610,Import Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
154487,10,Australia,153,New Caledonia,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
155157,10,Australia,156,New Zealand,486,Bananas,5610,Import Quantity,tonnes,2.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
155159,10,Australia,156,New Zealand,486,Bananas,5910,Export Quantity,tonnes,3.0,...,0.0,0,0.0,0,0.0,0,102.0,0,0.0,0
156498,10,Australia,159,Nigeria,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,5.0,0
158502,10,Australia,166,Panama,486,Bananas,5610,Import Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
158684,10,Australia,168,Papua New Guinea,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,1.0,0,1.0,0,0.0,0
159820,10,Australia,171,Philippines,486,Bananas,5610,Import Quantity,tonnes,30.0,...,0.0,0,50.0,0,47.0,0,114.0,0,44.0,0
159822,10,Australia,171,Philippines,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
161456,10,Australia,179,Qatar,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
161819,10,Australia,117,Republic of Korea,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
163730,10,Australia,244,Samoa,486,Bananas,5610,Import Quantity,tonnes,8.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
165221,10,Australia,196,Seychelles,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
165609,10,Australia,200,Singapore,486,Bananas,5610,Import Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
165611,10,Australia,200,Singapore,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,10.0,0,16.0,0
166964,10,Australia,25,Solomon Islands,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
169030,10,Australia,38,Sri Lanka,486,Bananas,5610,Import Quantity,tonnes,0.0,...,0.0,0,5.0,0,13.0,0,5.0,0,16.0,0
169032,10,Australia,38,Sri Lanka,486,Bananas,5910,Export Quantity,tonnes,1.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
169939,10,Australia,207,Suriname,486,Bananas,5610,Import Quantity,tonnes,0.0,...,0.0,0,0.0,0,1.0,0,0.0,0,0.0,0
171379,10,Australia,216,Thailand,486,Bananas,5610,Import Quantity,tonnes,13.0,...,0.0,0,93.0,0,90.0,0,124.0,0,21.0,0
172388,10,Australia,176,Timor-Leste,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
174657,10,Australia,225,United Arab Emirates,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
175471,10,Australia,229,United Kingdom,486,Bananas,5610,Import Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
175473,10,Australia,229,United Kingdom,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
176631,10,Australia,231,United States of America,486,Bananas,5610,Import Quantity,tonnes,0.0,...,0.0,0,0.0,0,3.0,0,18.0,0,4.0,0
176633,10,Australia,231,United States of America,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
177824,10,Australia,252,Unspecified Area,486,Bananas,5910,Export Quantity,tonnes,4.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
179691,10,Australia,237,Viet Nam,486,Bananas,5610,Import Quantity,tonnes,0.0,...,0.0,0,1.0,0,27.0,0,73.0,0,59.0,0
179693,10,Australia,237,Viet Nam,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0

In [63]:
df_banana_import_weight_au = df_banana_trade_weight_au[df_banana_trade_weight_au['Element'] == 'Import Quantity']
df_banana_import_weight_au.describe()

,Reporter Country Code,Partner Country Code,Item Code,Element Code,Y1986,Y1986F,Y1987,Y1987F,Y1988,Y1988F,...,Y2013,Y2013F,Y2014,Y2014F,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F
count,28.0,28.000000,28.0,28.0,28.000000,28.0,28.000000,28.0,28.000000,28.0,...,28.0,28.0,28.000000,28.0,28.000000,28.0,28.000000,28.0,28.000000,28.0
mean,10.0,124.357143,486.0,5610.0,1.892857,0.0,0.785714,0.0,0.642857,0.0,...,0.0,0.0,6.571429,0.0,8.250000,0.0,12.464286,0.0,5.964286,0.0
std,0.0,76.525094,0.0,0.0,6.196410,0.0,2.043185,0.0,2.231331,0.0,...,0.0,0.0,19.706041,0.0,19.779572,0.0,33.262683,0.0,14.085669,0.0
min,10.0,10.000000,486.0,5610.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0
25%,10.0,55.500000,486.0,5610.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0
50%,10.0,107.000000,486.0,5610.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0
75%,10.0,201.750000,486.0,5610.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,1.250000,0.0,1.500000,0.0,0.500000,0.0,3.250000,0.0
max,10.0,244.000000,486.0,5610.0,30.000000,0.0,9.000000,0.0,11.000000,0.0,...,0.0,0.0,93.000000,0.0,90.000000,0.0,124.000000,0.0,59.000000,0.0

In [62]:
df_banana_export_weight_au = df_banana_trade_weight_au[df_banana_trade_weight_au['Element'] == 'Export Quantity']
df_banana_export_weight_au

,Reporter Country Code,Reporter Countries,Partner Country Code,Partner Countries,Item Code,Item,Element Code,Element,Unit,Y1986,...,Y2013,Y2013F,Y2014,Y2014F,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F
124549,10,Australia,26,Brunei Darussalam,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
127279,10,Australia,96,"China, Hong Kong SAR",486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,1.0,0,3.0,0,3.0,0
128568,10,Australia,41,"China, mainland",486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
130630,10,Australia,42,Christmas Island,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
134826,10,Australia,66,Fiji,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
135903,10,Australia,68,France,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
137495,10,Australia,79,Germany,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
138626,10,Australia,84,Greece,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
141212,10,Australia,101,Indonesia,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
144537,10,Australia,110,Japan,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,19.0,0,92.0,0
148470,10,Australia,131,Malaysia,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
150570,10,Australia,137,Mauritius,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
152689,10,Australia,148,Nauru,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,44.0,0,3.0,0,3.0,0,9.0,0
154487,10,Australia,153,New Caledonia,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
155159,10,Australia,156,New Zealand,486,Bananas,5910,Export Quantity,tonnes,3.0,...,0.0,0,0.0,0,0.0,0,102.0,0,0.0,0
156498,10,Australia,159,Nigeria,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,5.0,0
158684,10,Australia,168,Papua New Guinea,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,1.0,0,1.0,0,0.0,0
159822,10,Australia,171,Philippines,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
161456,10,Australia,179,Qatar,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
161819,10,Australia,117,Republic of Korea,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
165221,10,Australia,196,Seychelles,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
165611,10,Australia,200,Singapore,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,10.0,0,16.0,0
166964,10,Australia,25,Solomon Islands,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
169032,10,Australia,38,Sri Lanka,486,Bananas,5910,Export Quantity,tonnes,1.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
172388,10,Australia,176,Timor-Leste,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
174657,10,Australia,225,United Arab Emirates,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
175473,10,Australia,229,United Kingdom,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
176633,10,Australia,231,United States of America,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
177824,10,Australia,252,Unspecified Area,486,Bananas,5910,Export Quantity,tonnes,4.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
179693,10,Australia,237,Viet Nam,486,Bananas,5910,Export Quantity,tonnes,0.0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0